PORT=4001
PUBLIC_ORIGIN=http://localhost:4001
CACHE_ENABLED=true
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
PROXY_ALLOWED_HOSTS=
TMDB_TOKEN=
BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_EDGE_URL=
FFMPEG_PATH=
